<p [appHighlight]="'red'" (click)="onN7abMassrouf()">fils works : {{ messageMenBaba() }}!</p>
<p [appHighlight]="'white'" [in]="'red'" (click)="onN7abMassrouf()">fils works : {{ messageMenBaba() }}!</p>
<p [appHighlight]="'white'" [in]="'black'" (click)="onN7abMassrouf()">fils works : {{ messageMenBaba() }}!</p>
<p [appHighlight]="'white'" [in]="'blue'" (click)="onN7abMassrouf()">fils works : {{ messageMenBaba() }}!</p>
<p [appHighlight]="'black'" [in]="'yellow'" (click)="onN7abMassrouf()">fils works : {{ messageMenBaba() }}!</p>
<p>
  {{ 1 | usdToBtc}}
</p>
<p>
  {{ 1 | usdToBtc: false | currency: 'USD' }}
</p>
